@import url("https://fonts.google.com/specimen/Overpass");
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: hsl(225, 9%, 9%);
  font-family: "Overpass", sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  min-width: 270px;
  height: 360px;
  background-color: hsl(217, 15%, 16%);
  border-radius: 23px;
}
.active-state {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  width: 85%;
}
.star-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 15.8%, 18.6%);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-top: -10px;
}
.active-state img {
  width: 13px;
}
.active-state h1 {
  font-size: 22px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  margin-top: -10px;
}
.rate-text {
  font-size: 12px;
  font-weight: 400;
  margin-top: -20px;

  color: hsl(217, 12%, 63%);
}
.rate-radios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  width: 100%;
  margin-top: -15px;
  border: 0;
}
.rate-radios input {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /*Miscellaneous*/
  background-color: hsl(216, 15.8%, 18.6%);
  cursor: pointer;
  appearance: none;
  transition: 0.5s;
}
.rate-radios input::before {
  font-size: 20px;
  color: hsl(217, 12%, 63%);

  transform: scale(0.9);
}
#star1::before {
  content: "1";
  font-size: 15px;
  font-weight: 700;
}
#star2::before {
  content: "2";
  font-size: 15px;
  font-weight: 700;
}
#star3::before {
  content: "3";
  font-size: 15px;
  font-weight: 700;
}
#star4::before {
  content: "4";
  font-size: 15px;
  font-weight: 700;
}
#star5::before {
  content: "5";
  font-size: 15px;
  font-weight: 700;
}
.rate-radios input:hover::before {
  color: hsl(0, 0%, 100%);
}
.rate-radios input:hover {
  background-color: hsl(216, 12%, 54%);
  box-shadow: 0 0 5px hsl(25, 97%, 53%);
  transform: scale(1.1);
}
.rate-radios input:checked::before {
  color: hsl(0, 0%, 100%);
}
.rate-radios input:checked {
  background-color: hsl(25, 97%, 53%);
  transform: scale(1.1);
  box-shadow: 0 0 10px hsl(25, 97%, 53%);
}
.button-container {
  align-self: center;
  width: 100%;
  height: 35px;
}
.button-submit {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  font-size: 13px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  text-align: center;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
}

.button-submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  transform: scale(1.05);
  box-shadow: 0 0 5px hsl(25, 97%, 53%);
}
.submitted-state {
  display: none;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.selected-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 15.8%, 18.6%);
  border-radius: 20px;
  width: 70%;
  height: 30px;
}
.selected-text {
  font-size: 13px;
  font-weight: 400;
  color: hsl(25, 97%, 53%);
  text-align: center;
  margin: 0;
}
.thank-svg {
  width: 140px;
  margin-bottom: 20px;
}
.thank-text {
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  color: hsl(217, 12%, 63%);
}
.thank-title {
  font-size: 22px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  margin-bottom: -10px;
}
